[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

argparse = "*"
nltk = "*"
python-dateutil = "*"
PyYAML = "*"
textblob = "*"
tweepy = {git = "git://github.com/wjt/tweepy", editable = true, ref = "8e0782633906c3ebfebb80b428968465bf826ab8"}
tracery = "*"
raven = "*"
python-dotenv = "*"
google-cloud-vision = "*"
google-cloud-language = "*"



[dev-packages]

coverage = "*"
flake8 = "*"
ipython = "*"
py = "*"
pytest = "*"
pytest-cov = "*"
python-coveralls = "*"
