argparse==1.4.0
nltk==3.2.4
pip-tools==1.9.0
python-dateutil==2.6.0
PyYAML==3.12
textblob==0.12.0

#tweepy==3.5.0
-e git+git://github.com/wjt/tweepy@b843d9f8f8c92818ea16d4083ab5224540899528#egg=tweepy

# python-telegram-bot==5.3.0

tracery==0.1.1
raven==6.2.1
