argparse==1.2.1
nltk==3.0.1
pip-tools==0.3.5
python-dateutil==2.2
PyYAML==3.10
textblob==0.9.0

#tweepy==3.5.0
-e git+git://github.com/wjt/tweepy@event-model#egg=tweepy

python-telegram-bot==2.7.1
argh==0.26.1
retry==0.9.1
decorator==3.4.2

